<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Viagens</title>
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="src/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="src/imagem/localizacao.png" type="image/x-icon">
</head>
<body>

    <header>
      <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" href="index.html" alt="home">
              <img src="src/imagem/Logo.png" alt="Airline Viagens home" width="150" height="40">
            </a>
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="Destino.html">Destino</a>
          <a class="nav-link" href="Promocoes.html">Promoções</a>
          <a class="nav-link active" href="Contato.html">Contato</a
        </div>
      </div>
        </nav>
    </header>

    <main>
      <section>
        <div class="container p-3" style="color: purple;">
          <h2>Entramos em contato com você</h2>
        </div>
      </section>

      <section>
        <form class="container p-5 contato">
          <div class="row g-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Primeiro nome" aria-label="Primeiro nome">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Last name">
            </div>
            <div class="col-12">
              <label for="Email" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-12">
              <label for="contato" class="form-label">Contato</label>
              <input class="form-control" type="tel" name="cotato" id="celular" placeholder="(xx)xxxxx-xxxx">
            </div>
            <div class="col-12">
              <label for="cpf" class="form-label">CPF</label>
              <input type="text" class="form-control" id="cpf">
            </div>
            <div class="col-12">
              <label for="assunto" class="form-label">Assunto</label>
              <select id="assuntos" class="form-select">
                <option selected>Duvidas</option>
                <option>Pagamentos</option>
                <option>Informações</option>
                <option>Reclamações</option>
                <option>Cancelamentos</option>
                <option>Viagens</option>
                <option>Hoteis</option>
              </select>
            </div>
            <div class="col-12">
              <label class="form-label" for="texto">Escreva abaixo sobre</label>
              <textarea class="form-control" name="texto" id="texto-cliente" cols="30" rows="10" placeholder="Escreva aqui"></textarea>
            </div>
            <div class="col-12">
              <a href="#" class="btn btn-primary " style="background-color:purple; border: black">Enviar</a>
            </div>
          </div>
        </form>  
      </section>
      
    </main>

    <footer class="text-center text-white pt-3" style="background-color: white">
      <div class="text-center text-dark p-3" style="background-color: lightgray;">
        © 2023 Copyright:
        <a class="text-dark" href="index.html">Airline.com</a>
        <img src="src/imagem/Logo.png" class="img-fluid" alt="Logo" width="150" height="40">
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body> 
</html>   
